html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-image: url('assets/img/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   }

#container {
    overflow: hidden;
    background-color: #4646469f;
    max-width: 1280px;
    margin: 2em auto;
    box-shadow: 0px 0px 75px 35px rgba(0,0,0,0.85);
    border-radius: 25px 25px 25px 25px;
    /* Flex del container, come prima */
    display: flex;
}

/* Ex porcodio */
.home-text {
    float: left;
}

nav {
    float: left;
    color:  white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-family: 'Roboto Mono', sans-serif;
    line-height: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    height: 72px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-family: 'UDDK-NK-R', 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

h2 {
    /*height: 36px;*/
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    margin: 1rem 3rem;
    font-family: 'Roboto Mono', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 1em 3rem;
    color: white;
    text-align: justify;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    line-height: 1.5em;
    word-break: break-word; /* Non divide in sillabe, ma tutta la parola va a capo */
}

.kaguya {
    width: 25%;
    height: 100%;
    flex-shrink: 0;
    float: right;
}

.exentio {
    width: 75%;
    display: block;
    margin: 3rem;
    border-radius: 25px;
}

@font-face {
    font-family: UDDK-NK-R;
    src: url(UDDigiKyokashoNK-R-03.ttf) format("truetype");
    unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}